<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="/public/stylesheets/styleEditAvatar.css">
    <title>Document</title>
</head>
<body>
	<h1>Edit Avatar</h1>
    <div class="container">
		<form>
			<label for="arquivo">Choose image for your avatar:</label>
			<input accept=".jpg, .jpeg, .png, .gif, .pdf" class="inpdddut" name="arquivo" id="arquivo" type="file">
			<button id="button">
				<span></span>
				<span></span>
				<span></span>
				<span></span> Submit
			</button>
			
		</form>
	</div>
</body>
</html>